In [91]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

In [92]:
tuple_1[0]

1

In [93]:
list_1[0] = 3
list_1[0]

3

In [94]:
str_1[2]

't'

In [95]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

tuple_2 = tuple(list_1)
list_2 = list(tuple_1)
tuple_3 = tuple(str_1)

In [96]:
print (tuple_2)
print(list_2)
print (tuple_3)

print (type(tuple_2))
print (type(list_2))
print (type(tuple_3))

(1, 2, 3, 4)
[1, 2, 3, 4]
('e', 's', 't', 'o', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 'c', 'a', 'd', 'e', 'n', 'a')
<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [97]:
tuple_1 = (1, 2, (3, 4), [1, 2, 3])
list_1 = [1, 2, 3, [4, 5], "prueba", (1, 2, 3)]
print (tuple_1)
print (list_1)

(1, 2, (3, 4), [1, 2, 3])
[1, 2, 3, [4, 5], 'prueba', (1, 2, 3)]

In [98]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

tuple_2 = (5, 6, 7, 8)
list_2 = [5, 6, 7, 8]
str_2 = "esto es otra cadena"

tuple_3 = tuple_1 + tuple_2
list_3 = list_1 + list_2
str_3 = str_1 + str_2

print (tuple_3)
print (list_3)
print (str_3)

(1, 2, 3, 4, 5, 6, 7, 8)
[1, 2, 3, 4, 5, 6, 7, 8]
esto es una cadenaesto es otra cadena

In [99]:
list_1 = [1, 2, 3]
list_2 = list_1 * 2
print (list_2)

[1, 2, 3, 1, 2, 3]

In [100]:
tuple_1 = ("hola", "mundo")
tuple_2 = tuple_1 * 2
print (tuple_2)

str_1 = "prueba"
str_2 = str_1 * 2 
print (str_2)

('hola', 'mundo', 'hola', 'mundo')
pruebaprueba

In [101]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print (4 in tuple_1)
print (5 not in tuple_1)
print (4 in list_1)
print (5 not in list_1)
print ("e" in str_1)
print ("z" not in str_1)

True
True
True
True
True
True

In [102]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print (tuple_1[0])
print (list_1[3])
print (str_1[5])

1
4
e

In [103]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print (tuple_1[-1])
print (list_1[-3])
print (str_1[-5])

4
2
a

In [104]:
tuple_1 = (1, 2, 3, 4, 5, 6, 7, 8)
list_1 = [1, 2, 3, 4, 5, 6, 7, 8]
str_1 = "esto es una cadena"

print (tuple_1[:])
print (tuple_1[2:])
print (list_1[:3])
print (list_1[2:5])
print (str_1[:-3])
print (list_1[::3])
print (list_1[::-1])

(1, 2, 3, 4, 5, 6, 7, 8)
(3, 4, 5, 6, 7, 8)
[1, 2, 3]
[3, 4, 5]
esto es una cad
[1, 4, 7]
[8, 7, 6, 5, 4, 3, 2, 1]

In [105]:
list_2 = list_1[:3]
list_2[0] = 25
print (list_1)
print (list_2)

[1, 2, 3, 4, 5, 6, 7, 8]
[25, 2, 3]

In [106]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print (len(tuple_1))
print (len(list_1))
print (len(str_1))

4
4
18

In [107]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print (tuple_1.index(3))
print (list_1.index(4))
print (str_1.index("a"))

2
3
10

In [108]:
tuple_1 = (1, 1, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print (tuple_1.count(1))
print (list_1.count(1))
print (str_1.count("e"))

2
1
3

In [109]:
tuple_1 = (1, 2, 3, 4)
var_1, var_2, var_3, var_4 = tuple_1

print(var_1)
print(var_2)
print(var_3)
print(var_4)

1
2
3
4

In [110]:
tuple_1 = (1, 2, 3, 4, 5)
list_1 = ["uno", "dos", "tres", "cuatro", "cinco"]
list_2 = ['seis', 'siete', 'ocho', 'nueve']

tuple_list = zip(tuple_1, list_1, list_2)
print (list(tuple_list))

[(1, 'uno', 'seis'), (2, 'dos', 'siete'), (3, 'tres', 'ocho'), (4, 'cuatro', 'nueve')]

In [111]:
list_1 = range(10)
print (list_1)

range(0, 10)

In [112]:
list_1 = range(10)
print (list(list_1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
list_2 = range(5, 10)
print(list_2)
print (list(list_2))

list_3 = range(0, 100,2)
print (list(list_3))

range(5, 10)
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [114]:
list_1 = ["uno", "dos"]
list_1.append("tres")
print (list_1)

['uno', 'dos', 'tres']

In [115]:
list_1 = ["dos", "tres"]
list_1.insert(1,"uno")
print (list_1)

['dos', 'uno', 'tres']

In [116]:
list_1 = [1, 2, 3, 4, 5]
list_1[2:4] = [6,7]
print (list_1)

[1, 2, 6, 7, 5]

In [117]:
list_1[2:5] = [3,4]
print (list_1)

[1, 2, 3, 4]

In [118]:
list_1 = [1, 2, 3, 4, 5]
print (list_1.pop(3))
print (list_1)

4
[1, 2, 3, 5]

In [119]:
list_1 = [1, 2, 3, [4, 5]]
list_1.remove([4,5])
print (list_1)

[1, 2, 3]

In [120]:
list_1 = [1, 2, 3, 4, 5]
del list_1[2]
print (list_1)

[1, 2, 4, 5]

In [121]:
list_1 = [1, 3, 4, 2, 5]
list_1.sort()

list_1.sort(reverse=True)
print (list_1)

[5, 4, 3, 2, 1]

In [122]:
list_1 = [1, 2, 3, 4, 5]
list_1.reverse()
print (list_1)

[5, 4, 3, 2, 1]

In [123]:
list_1 = [1, 3, 4, 2, 5]
list_2 = [7, 8]
list_1.extend(list_2)
print(list_1)

[1, 3, 4, 2, 5, 7, 8]

In [124]:
list_1 = [1, 3, 4, 2, 5]
list_2 = [7, 8]
final_list = list_1 + list_2
final_list

[1, 3, 4, 2, 5, 7, 8]

In [125]:
str_1 = "esto es una prueba"
print (str_1.upper())

str_2 = "ESTO ES UNA PRUEBA"
print (str_2.lower())

ESTO ES UNA PRUEBA
esto es una prueba

In [126]:
str_1 = "esto es una prueba"
print (str_1.split(" "))

['esto', 'es', 'una', 'prueba']

In [127]:
str_1 = "esto es una prueba una"
print (str_1.replace("una", "otra"))
print (str_1.replace("una", "otra", 1))

esto es otra prueba otra
esto es otra prueba una

In [128]:
dict_1 = {"clave_1":1, "clave_2":"prueba"}
print (dict_1)

dict_2 = {10:1, 2:2}
print (dict_2)

{'clave_1': 1, 'clave_2': 'prueba'}
{10: 1, 2: 2}

In [129]:
dict_1 = {"clave_1": 1, "clave_2": {"clave_21": [1, 2, 3], "clave_22": "prueba"}}
print (dict_1)

{'clave_1': 1, 'clave_2': {'clave_21': [1, 2, 3], 'clave_22': 'prueba'}}

In [130]:
tuple_1 = (1, 2, 3, 4, 5)
list_1 = ["uno", "dos", "tres", "cuatro", "cinco"]
dict_1 = dict(zip(list_1, tuple_1))
print (dict_1)

{'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4, 'cinco': 5}

In [131]:
dict_1 = {"clave_1": 1, "clave_2": 2}
dict_2 = {"clave_3": 3, "clave_4": 4}
dict_1.update(dict_2)
print(dict_1)

{'clave_1': 1, 'clave_2': 2, 'clave_3': 3, 'clave_4': 4}

In [132]:
dict_1 = {"clave_1": 1, "clave_2": 2}
dict_1["clave_3"] = "prueba"
dict_1["clave_1"] = 50
print(dict_1)

{'clave_1': 50, 'clave_2': 2, 'clave_3': 'prueba'}

In [133]:
dict_1 = {'clave_1': 1, "clave_2": 'prueba'}
print (dict_1.pop('clave_2'))
print (dict_1)

prueba
{'clave_1': 1}

In [134]:
dict_1 = {'clave_1': 1, 'clave_2': 'prueba'}
print ('clave_1' in dict_1)
print (1 in dict_1)

True
False

In [135]:
dic_1 = {'clave_1': 1, 'clave_2': 'prueba'}
del dict_1['clave_1']
print (dict_1)

{'clave_2': 'prueba'}

In [136]:
dict_1 = {'clave_1': 1, 'clave_2': 'prueba'}
dict_1.clear()
print (dict_1)

{}

In [137]:
dict_1 = {'clave_1': 1, 'clave_2': 'prueba'}
print (dict_1["clave_1"])

1

In [138]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
print (list(dict_1.items()))

[('clave_1', 1), ('clave_2', 2), ('clave_3', 3)]

In [139]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
print (list(dict_1.keys()))

['clave_1', 'clave_2', 'clave_3']

In [140]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
print (list(dict_1.values()))

[1, 2, 3]

In [141]:
set_1 = {1, 2, 3, 4, 5}
print (set_1)

{1, 2, 3, 4, 5}

In [142]:
list_1 = [1, 2, 3, 4, 5]
set_1 = set(list_1)
print (type(set_1))

<class 'set'>

In [143]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
print (set_1 | set_2)

{1, 2, 3, 4, 5, 6, 7}

In [144]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
print (set_1 & set_2)

{3, 4, 5}

In [145]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
print (set_1 - set_2)
print (set_2 - set_1)

{1, 2}
{6, 7}

In [146]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
print (set_1 ^ set_2)
print (set_2 ^ set_1)

{1, 2, 6, 7}
{1, 2, 6, 7}

In [147]:
set_1 = {1, 2, 3, 4, 5}
set_1.add(6)
print (set_1)

{1, 2, 3, 4, 5, 6}

In [148]:
set_1 = {1, 2, 3, 4, 5}
3 in set_1

True

In [149]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
set_1 >= set_2

True

In [150]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
set_1 <= set_2

False

In [151]:
set_1 = {1, 2, 3, 4, 5}
set_1.remove(5)

set_1.discard(6)      #Eliminia elemento (si no exite en el conjunto no pasa nada)
print(set_1)

{1, 2, 3, 4}

In [152]:
set_1 = {1, 2, 3, 4, 5}
set_1.clear()
print (set_1)

set()