In [21]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [22]:
5+6

11

In [23]:
# Serie desde escalar
serie = pd.Series(5)
serie

0    5
dtype: int64

In [24]:
# Serie desde secuencia
serie = pd.Series([1, 2, 3, 4, 5]) # dtype= np.string
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [25]:
# Serie desde ndarray
array = np.array([2, 4, 6, 8, 10])
serie = pd.Series(array)
serie

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [26]:
# Serie con índice preestablecido
serie = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])
serie

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [27]:
# Serie desde diccionario (establece el índice desde las claves)
serie = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}, dtype = np.float64)
serie

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [28]:
serie = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'], dtype=np.float64)

In [29]:
# Valores de una serie
serie.values

array([1., 2., 3., 4., 5.])

In [30]:
# Índice de una serie
serie.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [31]:
serie = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'], dtype=np.float64)

In [32]:
# Modificar el índice de una serie
serie.index = ['f', 'g', 'h', 'i', 'j']
serie

f    1.0
g    2.0
h    3.0
i    4.0
j    5.0
dtype: float64

In [33]:
# DataFrame desde diccionario de secuencias
Dataframe = pd.DataFrame({'var1': [1, 2, 3], 'var2':['uno', 'dos', 'tres'], 'var3': [1.0, 2.0, 3.0]})
Dataframe

   var1  var2  var3
0     1   uno   1.0
1     2   dos   2.0
2     3  tres   3.0

In [34]:
# DataFrame desde diccionario de series
Dataframe = pd.DataFrame({'var1': pd.Series([1, 2, 3], dtype = np.float64), 'var2': pd.Series(['a', 'b'])})
Dataframe

   var1 var2
0   1.0    a
1   2.0    b
2   3.0  NaN

In [35]:
# DataFrame desde ndarray con índices para filas y columnas
dataframe = pd.DataFrame(np.arange(16).reshape(4, 4), index = ['f1', 'f2', 'f3', 'f4'], columns = ['c1', 'c2', 'c3', 'c4'])
dataframe

    c1  c2  c3  c4
f1   0   1   2   3
f2   4   5   6   7
f3   8   9  10  11
f4  12  13  14  15

In [36]:
# DataFrame desde ndarrau con índices para filas y columnas con tipo fijo para todas
dataframe = pd.DataFrame(np.arange(16).reshape(4,4), dtype= np.float64)
dataframe

      0     1     2     3
0   0.0   1.0   2.0   3.0
1   4.0   5.0   6.0   7.0
2   8.0   9.0  10.0  11.0
3  12.0  13.0  14.0  15.0

In [37]:
dataframe = pd.DataFrame({'var1': [1, 2, 3], 'var2': ['uno', 'dos', 'tres'], 'var3': [1.0, 2.0, 3.0]})

In [ ]:
# Valores de un DataFrame
dataframe.values

array([[1, 'uno', 1.0],
       [2, 'dos', 2.0],
       [3, 'tres', 3.0]], dtype=object)

In [39]:
# Índice de un DataFrame
dataframe.index

RangeIndex(start=0, stop=3, step=1)

In [40]:
# Columnas de un DataFrame
dataframe.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [41]:
dataframe = pd.DataFrame({'var1': [1, 2, 3], 'var2': ['uno', 'dos', 'tres'], 'var3': [1.0, 2.0, 3.0]})
dataframe

   var1  var2  var3
0     1   uno   1.0
1     2   dos   2.0
2     3  tres   3.0

In [44]:
# Modificar el índice de filas de un dataframe
dataframe.index = ['f1', 'f2', 'f3']
dataframe

    var1  var2  var3
f1     1   uno   1.0
f2     2   dos   2.0
f3     3  tres   3.0

In [45]:
# Modificar el índice de columnas de un dataframe
dataframe.columns = ['c1', 'c2', 'c3']
dataframe

    c1    c2   c3
f1   1   uno  1.0
f2   2   dos  2.0
f3   3  tres  3.0

In [46]:
dataframe.rename(columns = {'c2': 'co12'})

    c1  co12   c3
f1   1   uno  1.0
f2   2   dos  2.0
f3   3  tres  3.0