In [ ]:
precio_taxi = 10.00
precio_bus = 2.50
dinero_disponible = 1.50

In [ ]:
if precio_taxi < dinero_disponible:
    print ("Me voy en taxi")
if precio_bus < dinero_disponible and precio_taxi > dinero_disponible:
    print ("Me voy en bus")
if precio_bus > dinero_disponible:
    print ("Me voy andando")

In [ ]:
if precio_taxi < dinero_disponible:
    print ("Me voy en taxi")
elif precio_bus < dinero_disponible:
    print ("Me voy en bus")
else:
    print ("Me voy andando")

In [ ]:
for i in range(0, 10):
    print ("Hola mundo")

In [ ]:
for i in range(0, 10):
    print("Hola mundo: " + str(i))

In [ ]:
list_1 = ["uno", "dos", "tres", "cuatro", "cinco"]
for element in list_1:
    print(element)

In [ ]:
list_1 = ["uno", 'dos', 'tres', 'cuatro', 'cinco']
for index, element in enumerate(list_1):
    print('Elemento en índice ' + str(index) + ": " + element)

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 1

In [ ]:
list_1 = ['uno', 'dos', 'tres', 'cuatro', 'cinco']
for element in list_1:
    if element == 'cuatro':
        break
    print (element)

In [ ]:
list_1 = ['uno', 'dos', 'tres', 'cuatro', 'cinco']
for element in list_1:
    if element == 'cuatro':
        continue
    print (element)

In [1]:
list_1 = ["Miguel", "Juan", "María", "Manuel", "Rodrigo"]
list_M = []
for element in list_1:
    if element[0] == "M":
        list_M.append(element.upper())
print (list_M)

['MIGUEL', 'MARÍA', 'MANUEL']

In [2]:
list_1 = ["Miguel", "Juan", "María", "Manuel", "Rodrigo"]
list_M = [element.upper() for element in list_1 if element[0] == "M"]
print (list_M)

['MIGUEL', 'MARÍA', 'MANUEL']

In [3]:
{element.upper(): element[0] == 'M' for element in list_1}

{'MIGUEL': True,
 'JUAN': False,
 'MARÍA': True,
 'MANUEL': True,
 'RODRIGO': False}

In [4]:
list_duplicates = ['Miguel', 'Juan', 'María', 'Miguel', 'Juan']
{element for element in list_duplicates}

{'Juan', 'María', 'Miguel'}

In [6]:
try:
    cadena = '123.5hola'
    numero = float(cadena)
except:
    print ('Se produjo un error')

Se produjo un error

In [7]:
try:
    cadena = '123.5hola'
    numero = float(cadena)
except Exception as e:
    print (e)
    print ('Se produjo un error')

could not convert string to float: '123.5hola'
Se produjo un error

In [10]:
try:
    cadena = '123.5hola'
    numero = float(cadena)
except RuntimeError as e:
    print (f'Se produjo un error: {e}')
except ValueError as e:
    print (f'Se produjo un error: {e}')
except Exception as e:
    print (f'Se produjo un error: {e}')

Se produjo un error: could not convert string to float: '123.5hola'

In [11]:
try:
    cadena = '123.5hola'
    numero = float(cadena)
except Exception as e:
    print ('Se produjo un error')
finally:
    cadena += ' adios.'
cadena

Se produjo un error

'123.5hola adios.'